<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.hotelsvanoranje.websales"
        versionCode="10" 
        version   = "0.1.0">

    <!-- versionCode is optional and Android only -->
    <gap:platform name="android" />
    <gap:platform name="ios" />
    <icon src="icon.png" />

    <name>Websales</name>

    <description>
        Test sales app
    </description>

    <author href="https://build.phonegap.com" email="menicus@gmail.com">
        Christiaan Janssen
    </author>

</widget>